<div data-role="page" id="mainpage" class="ui-page ui-body-c ui-page-active" style="min-height: 562px; ">
    <div data-role="header" data-theme="d" data-position="inline" class="ui-header ui-bar-d" role="banner">
			<% @user = User.where(:uri => "/" + params[:uri])[0] %>
    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Add Synergy Friend</h1>
		</div>

		<div data-role="content"  class="ui-content" role="main">
			<h1><%= @user.name %> added to your Collection!</h1>
			<%= link_to friends_path, {'data-role' => "button", 'data-theme' => "b", 'class' => "ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b"} do %><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">See My Friends</span></span><% end %> 
			<%= link_to home_menu_path, {'data-role' => "button", 'data-theme' => "c", 'class' => "ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c"} do %><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span></span><% end %> 
		</div>
	</div>
