<div data-role="page" id="mainpage" class="ui-page ui-body-c ui-page-active" style="min-height: 562px; ">
    <div data-role="header" data-theme="d" data-position="inline" class="ui-header ui-bar-d" role="banner">
    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Add Synergy Thing</h1>
		</div>

		<div data-role="content" data-theme="c" class="ui-content ui-body-c" role="main">
			<h1>Add Existing or New Thing?</h1>
			<!-- <p>This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and <code>data-rel="dialog"</code> attribute.</p> -->
			<%= link_to entities_add_existing_thing_path, {'data-role'="button" data-rel="back" data-theme="b" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Existing</span></span></a>       
			<a href="docs-dialogs.html" data-role="button" data-rel="back" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">New</span></span></a>    
		</div>
	</div>
