<div data-role="page" id="mainpage">

<div data-role="header">
  <h1>Add Existing Space</h1>
  <%= link_to 'Home', home_menu_path, {"class" => "ui-btn-left", "data-icon"=>"home"} %>
  <%= link_to 'Add New', entities_add_new_space_path, {"class" => "ui-btn-right", "data-icon"=>"plus"} %>
</div>
<h2 style='text-align: center;'>Select the containing space of entity:</h2>

<div data-role="content" class="ui-content filter-list" role="main">
<!-- When choice is chosen, add to user's list of items of interest. -->
<ul data-role="listview" data-filter="true" class="ui-listview" id="list">

<% @hash.keys.each do |subtype| %>
	<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-a"><%= subtype %> </li>
  	<% @hash[subtype].each do |space| %>
	<li>
          <%= link_to space, "/liveSynergy" + space, {:id => '#', :class => 'ui-link-inherit'}%>
	<% end %>
<% end %>
</ul>
</div>

<div data-role="footer" data-id="foo1" data-position="fixed" class="ui-footer ui-bar-a ui-footer-fixed fade ui-fixed-inline" role="contentinfo" style="top: 0px; ">
		<div data-role="navbar" class="ui-navbar ui-navbar-noicons" role="navigation">
			<ul class="ui-grid-b">
				<li class="ui-block-a"><a href="#" class="ui-state-persist ui-btn ui-btn-up-a" data-theme="a"><span class="ui-btn-inner"><span class="ui-btn-text">Attributes</span></span></a></li>
				<li class="ui-block-b"><a href="#" data-theme="a" class="ui-btn ui-btn-down-a ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text">Type</span></span></a></li>
				<li class="ui-block-c"><a href="#" data-theme="e" class="ui-btn ui-btn-up-e"><span class="ui-btn-inner"><span class="ui-btn-text">Space Container</span></span></a></li>
			</ul>
		</div><!-- /navbar -->
	</div>
</div>


